.fake-headers {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding-top: 10px; /* Корректируйте отступы по вашему усмотрению */
    margin-top: 34px;
    width: 100%;
    font-size: 12px;
    min-width: 1200px;
    box-sizing: border-box;
  }
  
  .fake-header {
    text-align: center;
    border: 0px solid #2e7fd6;
    /* margin-right: -1px; Избегаем двойных границ */
    /* border-width: 1px; */
    
  }
  
.rectangle-fake{
    margin: 5px;
    margin-left: 10px;
    margin-right: 10px;
    /* opacity: 0.7; */
    border: #3072ff;
    border-radius: 3px;
    background-color: rgba(0,123,255,.7);
    color: black;
    
}